<div id="page-content">
  <div class="container">
    <h1>About the Cat Log</h1>
    <p style="font-size:100px">
      <% 3.times do %>
        <%= render 'emoji' %>
      <% end %>
    </p>
    <p>
      <%= link_to 'Return to Home Page', root_path %>
    </p>
  </div>
</div>
