<br>
<h1>Our Beautiful Home</h1>
<br>

<p style="font-size:100px">
  <% 3.times do %>
    <%= render 'emoji' %>
  <% end %>
</p>

<p>
  <%= link_to 'Pets list', pets_path %> |
  <%= link_to 'About', about_path %>

</p>
